.container {
    /* background-color: silver; */
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 40%;
    grid-gap: 1%;
    background: linear-gradient(black,rgb(50, 50, 50));
    color:white;
    padding-top:5px;
    padding-bottom:5px;
    box-sizing:  border-box;
    overflow:hidden;
}
.container>div{
    border: 2px solid #169AD3;
    border-radius:10px;
    margin-left: 2%;
    margin-right: 2%;
}

.preview {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.preview .base {
    border: 2px solid #169AD3;
    height: 40%;
    width: 90%;
}
.preview .desk {
    display: grid;
    position: relative;
    top: -50%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: -11%;
    grid-gap: 5px;
}
.preview .desk .base{
    height:5px;
    width: 35px;
    border-radius: 5px;
}

.preview .mon {
    height: 50px;
    width: 85%;
    transition: transform .5s;
    position: relative;
    border: 2px solid #169AD3;
    border-radius: 10px;
}

.height_control label {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50px 1fr;
    grid-column-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.monitor_control,
.rotation_control {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.rotation_control {
    grid-template-columns: repeat(3, 1fr);
}

.monitor_control input[type=radio],
.rotation_control input[type=radio] {
    display: none;
}

.monitor_control input:checked ~ span,
.rotation_control input:checked ~ span {border: 2px solid white;}

.monitor_control span,
.rotation_control span {
    display: block;
    height: 65%;
    margin: 10px;
    border: 2px solid #169AD3;
    border-radius: 10px;
}